Instructions:

Write your code solutions to the problems in the cells directly below the questions. If the problem indicates a text response, use a markdown cell.

## Day 2 - Pandas

Learning Objectives:
- Load a DataFrame from a CSV file
- Inspect the structure of DataFrame
- Learn Python and Pandas data types
- Index Series using integer position, labels, and Booleans
- Index DataFrames using integer position, labels, and Booleans
- Find and remove missing values in a Series and DataFrame

#### Exercise 2.1

Download the city parks data set from GitHub ([link][parks]) onto your computer. Then use pandas to load the CSV into a data frame called `parks`.

The questions for day 2 and day 3 use this data set.

[parks]: https://raw.githubusercontent.com/ucdavisdatalab/workshop_python_basics/main/data/parks_final.csv

#### Exercise 2.2

Display the first fifteen rows of the parks data frame.

#### Excercise 2.3

Display the counts of each unique value of the parks' `state` column.

#### Excercise 2.4

Subset the parks dataframe to get only the rows for cities with a 2020 population greater than 500k. The population for 2020 is stored in the `pop2020` column of the dataset.

#### Exercise 2.5

Subset the parks dataframe to get only the rows for parks in Oregon for the year 2012.

#### Exercise 2.6

Subset the parks dataframe to keep only the rows with the following integer indexes: `0`, `304`, `333`, `17`. Save this subset to a CSV file called `parks_subset.csv`.

## Day 3 - Summarizing Data

Learning Objectives:
- Write functions to organize and encapsulate reusable code
- Map a function over data frame columns
- Map a function over grouped data frame rows
- Describe the popular data visualization packages for Python
- Use the grammar of graphics to create a visualization
- Save a visualization to a file

#### Exercise 3.1

The `playground_data` column is the number of playgrounds per 10,000 residents. Use pandas to compute the mean, median, and standard deviation of the number of playgrounds per 10,000 residents.

#### Exercise 3.2

Compute the mean, median, and standard deviation of the number of playgrounds per 10,000 grouped by year. Which year has the highest mean?

#### Exercise 3.3

Use plotnine to make a bar plot with years on the x-axis and the means from exercise 3.2 on the y-axis. Make sure the plot has nicely formatted axis labels and a title.

_Hint 1: Make sure the year is a column rather than an index in your result from exercise 3.2._

_Hint 2: By default, `geom_bar` computes and displays frequencies on the y-axis. Use `stat = "identity"` to make it display values that have already been computed instead._

#### Exercise 4.4

Use plotnine to make a scatter plot **for 2019** of median park size in acres versus number of restrooms per 10,000 residents. Make sure the plot has nicely formatted axis labels and a title.

_Hint: See the [data description][parks] to find the appropriate columns._

[parks]: https://github.com/rfordatascience/tidytuesday/tree/master/data/2021/2021-06-22

## Day 4 - Non-tabular Data

Learning Objectives:
- Create and access elements of tuples
- Create and access elements of dictionaries
- Explain what HTTP is, including request methods
- Use the requests package to make HTTP requests
- Explain what a web API is
- Load and access elements of JSON data
- Write loops to do things repeatedly
- Write comprehensions to do things repeatedly
- Save data to a CSV or other file format

#### Exercise 4.1

Create a list with four elements, a string, an int, a float, and a bool.

#### Exercise 4.2

Remove the last element from the list in exercise 4.1.

#### Exercise 4.3

Write a function that uses a loop to print out each element in a list.

_Hint: the function can `return None`._

#### Exercise 4.4

Write a function which accepts a list as input and uses a loop to compute and return a list of the types of the elements.

#### Exercise 4.5

Repeat exercise 4.4 using a list comprehension instead of a function and loop.

#### Exercise 4.6

Use the requests package to download the JSON data for C-3P0 (ID 2) from the Star Wars API (https://swapi.py4e.com/).

#### Exercise 4.7

Write a function which takes a film ID (for the Star Wars API) as input and returns the title.

#### Exercise 4.8

Create a pandas series containing the diameters of planets 1-10. Make sure to specify 'float' as the data type.

_Hint Follow the loop style in 4.4 that adds time between each request_